.main_card{
    border: 1px solid #d4baba;
    margin-bottom: 25px;
    margin-top: 35px;
}

.body_card {
    margin-top: 25px;
}
.header_card{
    background-color: #F7F7F7;
    padding: 20px;
}
.header_card h4 {
    color: black; 
    margin-bottom: 20px;
}
.header_card h3 {
    color: black; 
}
.body_card p {
    color: black;
}