section#ourfacilities h1 {
    text-align: center;
    color: #605c5c;
    font-family: ui-sans-serif;
    margin-top: 30px;
}
section#ourfacilities p {
    text-align: center;
    color: #605c5c;
    font-family: ui-sans-serif;
    margin-top: 30px;
}
.world_class h3 {
    text-align: center;
    color: #605c5c;
    font-family: ui-sans-serif;
    margin-top: 20px;
}
.world_class h6 {
    text-align: center;
    color: #605c5c;
    font-family: ui-sans-serif;
    margin-top: 20px;
}